/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/
 
//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------
 
//Main Color Variables
$main-color: #959595;
$dark-color: #9e9e9e; //Link Color
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***
 
//Main BG Color Variables
$main-bg: #979797;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%);
 
//Secondary Color Variables
$secondary: #2a3b4c;
$secondary-50: #2a3b4c; //lighten($secondary, 9%);
$secondary-25: #2a3b4c; //lighten($secondary, 20%); //Important Heading BG Color
 
//Gray Color Variables
$gray: #808080; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color
 
$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #fbfbfb; //Main BG Color
$white: $gray-1;
 
//$black: #2e2e2e;
//$black-80: #a7a7a7;
$black: #000000;
$black-80: #303030;
 
 
//-----------------
//  Font Assignment
//-----------------
 
//$theme-sans-font: "Source Sans","Open Sans",Verdana,Geneva,sans-serif;
$theme-sans-font: "Open Sans",sans-serif;
$sans-serif: $theme-sans-font;
$body-font-family: $sans-serif;
 
//$theme-serif-font: "Crimson Text", Georgia, Cambria, "Times New Roman", Times, serif;
$theme-serif-font: $sans-serif;
$serif: $theme-serif-font;
 
 
 
 
//-----------------
//  Theme Element Assignments
//-----------------

$baseline: 20px !default;
 
$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: $secondary;//transparentize(lighten($secondary, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;
 
$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);
 
$base-font-color: $black;
//$lighter-base-font-color: $black-80;
//$lighter-base-font-color: #c6c6c6;
$lighter-base-font-color: #919191;
$very-light-text: $gray-1;
 
$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;
 
$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;
 
$header-link-color: $dark-color;
$header-link-hover: $light-color;
 
$button-color: $main-color;
$button-archive-color: $gray-3;
 
$shadow-color: $gray;
 
// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;
 
// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;
 
// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;
 
// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;
 
// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;
 
 
 
// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;
 
// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;
 
// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;
 
// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;
 
//
 
$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;
 
$sidebar-color: $gray-1;
 
$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;
 
$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;
 
$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);
 
$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;
 
$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;
 
//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;
 
//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;
 
//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../images/bg_stars.png');
 
$login-banner-image: none;
$register-banner-image: none;
 
$video-thumb-url: '../images/logo_eng.png';
 
//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
  clip: auto !important;
  height: 50px;
  width: 550px;
  top: 0;
}

.wrapper-footer {
  background: #293a3a !important;
  color: white;
  font-weight: 200;
  line-height: 25px;
  padding: 68px 0 70px !important;
}

.wrapper-footer footer p {
  margin-top: 10px;
  margin-bottom: 25px;
}
.wrapper-footer footer .textwidget {
  margin-bottom: 30px;
}
.wrapper-footer footer a:hover {
  color: #fff;
  text-decoration: none;
}
.wrapper-footer footer h3 {
  color: white !important;
  font-size: 18px;
  font-weight: 700;
}

.wrapper-footer footer .footer-separator {
  margin-bottom: 20px;
}

.wrapper-footer:after {
  content: "";
  display: block;
  background-image: url('../images/footer-bg.png');
  background-position: center 200px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
 
.footer-three-columns-inner {
  .footer-column {
      width: 33.33%;
      float: left;
      padding: 0 15px;
      box-sizing: border-box;
  }
}
.content-wrapper {
  /*min-height: 75% !important;*/
  min-height: 100% !important;
  padding-bottom: 130px !important;
  //padding-top: 77px !important;
  margin-bottom: -130px !important;
  box-sizing: border-box;
  //margin-top: -77px !important;
  background: $white !important;
}
.discusssion .content-wrapper {
  padding-bottom: 180px !important;
  margin-bottom: -180px !important;
}
html, body {
  height: 100%;
  font-family: $body-font-family !important;
}
.window-wrap {
  height: 100%;
  min-height: 100%;
}
.home {
  > header {
    .title {
      width: flex-grid(8) !important;
    }
  }
}

.course-info {
  .course-sidebar {
    > section {
      &.course-summary {
        margin-bottom: 100px !important;
      }
      
      &.social-widgets {
        border-width: 0px;
        box-shadow: none;
        padding: 16px 20px 30px;
        margin-bottom: 220px;
      }
    }
  }
}

.course-info .details section h2 {
  text-transform: uppercase;
  text-transform: uppercase;
  color: $black;
  font-weight: 700;
}

header.global.slim {
  h2 {
    text-shadow: none !important;
  }
}

.header-global.slim h2 .course-name {
    font-weight: bold !important;
}
.header-global.slim div.course-header {
    width: 80% !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

body:not(.view-in-course):not(.discussion):not(.None) .header-global.slim div.course-header {
  text-align: left;
  font-size: 1.1rem;
  width: 60% !important;
  margin-top: 0;
}
body:not(.view-in-course):not(.discussion):not(.None) .header-global.slim h1.hd.logo-header {
  text-align: left;
}

.header-global.slim h2 .provider {
    font-weight: normal !important;
}

.header-global .wrapper-header .course-header {
  margin-left: 0;
}

.header-global .wrapper-header {
  box-sizing: border-box;
}

.header-global.slim ol.user {
  margin-top: -4px;
}

.header-global .wrapper-user-menu a.menu-title {
  padding: 0;
  position: relative;
  display: block;
  background-color: $gray-3;
  text-transform: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 42px;
  border: 1px solid #c6c6c6 !important;
  float: left;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.6);
  padding-right: 10px;
}
.dropdown-menu-container .menu-image {
  max-width: 40px;
  border-radius: 10%;
}
.dropdown-menu-container .menu-button {
  height: 42px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.6) !important;
  background-color: #e9e9e9 !important;
  border: 1px solid #c6c6c6 !important;
  margin: 0 !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home>header {
  height: 460px;
}

.home>header .outer-wrapper {
  padding: 240px 10px 0 !important;
}

.header-global .user .user-link .label-username{
  margin: 0 10px 0 10px !important;
  line-height: 40px;
}

.header-global .user>.primary>a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 42px;
  border: 1px solid #c6c6c6 !important;
}

.header-global .user .user-dropdown {
  height: 42px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.6) !important;
  background-color: $gray-3 !important;
  border: 1px solid #c6c6c6 !important;
}

.header-global .user .user-dropdown-menu {
  top:51px !important;
}

.login-register, .login-register-content, .financial-assistance-wrapper .financial-assistance-form {
  background: $white !important;
}

.login-register .section-title.lines .text, 
.financial-assistance-wrapper .financial-assistance-form .section-title.lines .text {
  background: $white !important;
}

#login-and-registration-container {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 25px;
  margin-bottom: 25px;
}

.view-in-course .wrapper-course-material,
.view-in-course .content-wrapper,
.discussion .wrapper-course-material,
.discussion .content-wrapper,
.discussion .window-wrap {
  background: $gray-2 !important;
}

.view-in-course .container>div {
  box-sizing: border-box !important;
}

.wrapper-course-material .course-tabs li a, 
.wrapper-course-material .course-tabs li a:visited {
  color: #666;
}

.header-global.slim h1 {
  color: $lighter-base-font-color !important;
  text-shadow: none !important;
  display: block;
  //width: 55% !important;
  float: left;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: 9px;
  margin-bottom: 0;
  //text-transform: none;
  //white-space: nowrap;
  //text-overflow: ellipsis;
  //overflow: hidden;
  font-family: $body-font-family !important;
}

.header-global.slim .course-header {
  width: auto;
}

.header-global.slim h1 .logo {
  margin: 0 10px 0 0;
  padding-right: 20px;
}

.header-global h1 .logo a {
  line-height: 32px;
}

.header-global.slim h1 .logo:before {
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  right: 3px;
  top: 0;
  width: 1px;
  background-image: linear-gradient(180deg, rgba(200,200,200,0) 0%, #c8c8c8 50%, rgba(200,200,200,0));
  height: 100%;
  width: 1px;
}

.header-global.slim h1.hd.logo-header {
  margin-top: 0;
  width: 80%;
}

.header-global.slim h1.hd.logo-header .course-header {
  margin: 5px 0px 0px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.discussion .wrapper-footer {
  margin-top: 40px;
  clear: both;
}

.header-global.slim .nav-main, .header-global.slim .nav-global {
  display: none;
}

.login-register .action-primary {
  background: $action-primary-bg !important;
  color: $action-primary-fg !important;
  box-shadow: $action-primary-shadow !important;
}

.login-register .action-primary:hover,
.login-register .action-primary:focus,
.login-register .action-primary:active {
  background: $action-primary-focused-bg !important;
  color: $action-primary-active-fg !important;
  box-shadow: $action-primary-active-shadow !important;
}

.login-register .action-primary:focus {
  color: $action-primary-active-focused-fg !important;
  box-shadow: $action-primary-active-focused-shadow !important;
}

.login-register .nav-btn {
  border: 1px solid #7c7c7c !important;
  background-color: $white !important;
  color: $action-secondary-fg !important;
  box-shadow: $action-secondary-shadow !important;
}

.login-register .nav-btn:hover,
.login-register .nav-btn:focus,
.login-register .nav-btn:active {
  border: 1px solid transparent !important;
  background-color: $main-color !important;
  color: $white !important;
  text-decoration: none !important;
}

.social-widgets {
  width: 100%;
  margin-top: 50px;
}

.social-widgets #vk_groups {
  margin-bottom: 40px;
  width: 100%;
}

.social-widgets #vk_groups iframe {
  width: 100%;
}

.social-widgets iframe.twitter-timeline {
  border: 1px solid #e9ebee !important;
  box-sizing: border-box;
}

.social-widgets .fb_iframe_widget, 
.social-widgets .fb_iframe_widget span, 
.social-widgets .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.social-widgets .fb_iframe_widget {
  margin-bottom: 40px;
  float: left;
}

.view-in-course .home {
  max-width: 1180px !important;
}

footer a.logo {
  margin-right: 20px;
}

.view-course-info .home {
  display: none !important;
}

.course-content .bookmark-button {
    width: 180px;
}

#discussion-container .loading-animation span.fa.fa-spinner:before {
  content: "";
  background: url('../../images/spinner.gif') center no-repeat;
  height: 20px;
}

ul.cert_regeneration div.cert_regen_hint {
  display: inline-block;
}

ul.cert_regeneration a.btn.request_regeneration {
  padding-left: 0 !important;
  font-weight: bold !important;
}

ul.cert_regeneration a.btn.cert_regen_hint_toggle {
  padding: 6px 0 !important;
}

div.modal.staff-modal {
  margin-left: -670px !important;
}