{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% filter force_escape %}
                Запрошуємо вас приєднатися до курсу «{{ course_name }}»{
                {% endfilter %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                Запрошуємо вас приєднатися до курсу «{{ course_name }}».
                {% endfilter %}
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                Якщо ви ще не навчалися на Prometheus, будь ласка, натисніть кнопку «Завершити реєстрацію». 
            </p>

            <p>
                Під час реєстрації вкажіть електронну пошту, на яку ви отримали цей лист, а потім <b>обов’язково активуйте ваш обліковий запис</b>. Як це зробити? <b>Перейдіть за посиланням в другому листі</b>, який ми надішлемо відразу після завершення реєстрації. Зверніть увагу, що до активації облікового запису курс буде відсутній у вашому особистому кабінеті на платформі.
                <br />
            </p>

            {# xss-lint: disable=django-trans-missing-escape #}
            {% trans "Завершити реєстрацію" as button_cta_text %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=button_cta_text course_cta_url=registration_url %}

            <p style="color: rgba(0,0,0,.75);">
                Якщо ви вже зареєстровані на платформі, для реєстрації на курс достатньо натиснути кнопку «Завершити реєстрацію» та увійти до вашого особистого кабінету.
            </p>
        </td>
    </tr>
</table>
{% endblock %}
