## mako

<%namespace name='static' file='/static_content.html'/>

<!--script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script-->

<!-- VK Widget 
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "auto", height: "300", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 77477258);
</script>
-->
<p></p>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.8&appId=195643780508930";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

% if str(course.id) == "course-v1:UCU+WIN101+2020_T1":
<div class="fb-page" data-href="https://www.facebook.com/LvivBusinessSchool/" data-width="375" data-height="258" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LvivBusinessSchool/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LvivBusinessSchool/">Lviv Business School</a></blockquote></div>
% endif

<div class="fb-page" data-href="https://www.facebook.com/prometheusmooc/" data-width="375" data-height="258" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/prometheusmooc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/prometheusmooc/">Prometheus</a></blockquote></div>

<!--iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fprometheusmooc&amp;width=850&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=195643780508930" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:258px;" allowTransparency="true"></iframe-->

<p></p>
<a class="twitter-timeline" href="https://twitter.com/PrometheusMOOC" data-widget-id="515105588456329218" data-tweet-limit="1">Твіти користувача @PrometheusMOOC</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

% if str(course.id) == "course-v1:Prometheus+DC101+2017_T4":
  <p></p>
  <p><strong><i>Просимо поширювати інформацію про курс онлайн та офлайн методами.</i></strong></p>
  <p><a href="https://courses.prometheus.org.ua/asset-v1:Prometheus+DC101+2017_T4+type@asset+block@Постер.pdf" target="_blank"><img src="https://courses.prometheus.org.ua/asset-v1:Prometheus+DC101+2017_T4+type@asset+block@poster.jpg" style="max-width:100%" /></a></p>
  <p><a href="https://courses.prometheus.org.ua/asset-v1:Prometheus+DC101+2017_T4+type@asset+block@Постер.pdf" target="_blank">Завантажити постер</a> (його можна роздрукувати на звичайному принтері та розмістити на дошці оголошень в громаді, в навчальному закладі чи поширити будь-яким іншим способом).</p>
% endif
