## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from datetime import date
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

  <!-- New footer-->

  <footer id="site-footer">
    <div class="container">
      <div class="widget-odd widget-first widget-1 footer-col widget widget_nav_menu">
        <div class="widget-content">
          <h3 class="widget-title">Prometheus</h3>
          <div class="menu-footer-menu-two-container">
            <ul id="menu-footer-menu-two" class="menu">
              <li id="menu-item-10615" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10615">
                <a href="https://prometheus.org.ua/about-us/">Про нас</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="widget-even widget-2 footer-col widget widget_nav_menu">
        <div class="widget-content">
          <h3 class="widget-title">Prometheus+</h3>
          <div class="menu-footer-menu-two-container">
            <ul id="menu-footer-menu-two" class="menu">
              <li id="menu-item-8296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8296">
                <a href="https://prometheus.org.ua/corporate-learning/">Корпоративне навчання</a>
              </li>
              <li id="menu-item-8394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8394">
                <a href="https://prometheus.org.ua/partnership/">Співпраця</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="widget_text widget-odd widget-3 large footer-col widget widget_custom_html">
      <div class="widget_text widget-content">
        <h3 class="widget-title">Підписатися на новини</h3>
        <iframe id="subscribe-iframe" src="https://prometheus.org.ua/subscribe-edx-footer/" style="border:none;min-width: 320px;min-height: 150px;"></iframe>
        <script type="text/javascript" src="https://mozilla.github.io/jschannel/src/jschannel.js"></script>
        <script type="text/javascript">
          (function() {
              'use strict';

              var channel;

              function submitCalled() {
                  document.getElementById("subscribe-iframe").style.minHeight = '275px';
              }

              channel = Channel.build({
                  window: document.getElementById("subscribe-iframe").contentWindow,
                  origin: "*",
                  scope: "JSInput"
              });

              channel.bind('submitCalled', submitCalled);

              return {
                  submitCalled: submitCalled
              };
          }());
        </script>
      </div>
  </div>
<div class="widget-even widget-last widget-4 footer-col widget widget_text">
  <div class="widget-content">
    <h3 class="widget-title">Мобільні застосунки</h3>      
    <div class="textwidget">
      <div class="applogos">
        <a class="google" target="_blank" href="https://play.google.com/store/apps/details?id=org.prometheus.android" rel="noopener"><img src="https://prometheus.org.ua/wp-content/themes/prometheus/assets/images/google-play.svg?x38305" alt=""></a>
        <a class="apple" target="_blank" href="https://itunes.apple.com/us/app/prometheus-online-courses/id1213523151" rel="noopener"><img src="https://prometheus.org.ua/wp-content/themes/prometheus/assets/images/app-store.svg?x38305" alt=""></a>
      </div>
  </div>
</div>
</div>    
</div>
<div class="footer-aside">
      <div class="container">
        <div class="aside-inner">
          <div class="footer-aside-nav">
          <a href="https://prometheus.org.ua/" class="copyright">&copy; ${_("{copyright_year} {platform_name}").format(
             platform_name=settings.PLATFORM_NAME,
             copyright_year=date.today().year)}
          </a>
                      <div class="aside-menu-container">
              <div class="menu-aside-menu-container"><ul id="asidemenu" class="asidemenu"><li id="menu-item-6927" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6927"><a href="https://prometheus.org.ua/privacy-policy/">Політика конфіденційності</a></li>
<li id="menu-item-6926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6926"><a href="https://prometheus.org.ua/offert/">Договір публічної оферти</a></li>
<li id="menu-item-6925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6925"><a href="https://prometheus.org.ua/faq/">Допомога</a></li>
</ul></div>               
            </div>
                    </div>
          <div class="paymentlogos">
            <img class="visa" src="https://prometheus.org.ua/wp-content/themes/prometheus/assets/images/visa-logo.svg?x38305" alt="">
            <img class="mcard" src="https://prometheus.org.ua/wp-content/themes/prometheus/assets/images/mastercard-logo.svg?x38305" alt="">
          </div>
                      <div class="social-menu-container">
              <div class="menu-social-links-menu-container"><ul id="socialmenu" class="socialmenu"><li id="menu-item-6895" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-6895"><a target="_blank" rel="noopener" href="https://www.facebook.com/prometheusmooc">Facebook</a></li>
<li id="menu-item-6896" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-6896"><a target="_blank" rel="noopener" href="https://twitter.com/prometheusmooc">Twitter</a></li>
<li id="menu-item-6897" class="instagram menu-item menu-item-type-custom menu-item-object-custom menu-item-6897"><a target="_blank" rel="noopener" href="https://www.instagram.com/prometheus.ua">Instagram</a></li>
</ul></div>               
            </div>
                  </div>
      </div>
    </div>
  </footer>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
