## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from datetime import date
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >

    <div class="footer-three-columns-inner">
      <div class="footer-column" style="min-height: 522px;">
        <div class="textwidget custom-html-widget">
          <h3>ПРО ПРОЕКТ</h3>
        </div>
        <div class="footer-separator-holder clearfix  footer-separator-left footer-separator-normal">
          <div class="footer-separator" style="border-color: #1db4b8;border-style: solid;width: 50%;border-bottom-width: 6px;margin-top: 0px;margin-bottom: 0px"></div>
        </div>
        <div class="textwidget custom-html-widget">
          <p><strong>«Prometheus»</strong> – це український громадський проект масових відкритих онлайн-курсів. Мета проекту – безкоштовно надати найкращі навчальні можливості кожному громадянину України. </p>
          <p><a href="https://prometheus.org.ua/terms-service/">Умови надання послуг та Кодекс Честі</a></p>
          <p><strong>Загальні питання</strong>: <a href="mailto:info@prometheus.org.ua">info@prometheus.org.ua</a></p>
          <p><strong>Технічні питання</strong>: <a href="mailto:support@prometheus.org.ua">support@prometheus.org.ua</a></p>
          <p>© 2018 Prometheus, some rights reserved</p>
        </div>
      </div>
      <div class="footer-column" style="min-height: 522px;">
        <div class="textwidget custom-html-widget">
          <h3>ПРОПОЗИЦІЯ СПІВПРАЦІ</h3>
        </div>
        <div class="footer-separator-holder clearfix  footer-separator-left footer-separator-normal">
          <div class="footer-separator" style="border-color: #1db4b8;border-style: solid;width: 50%;border-bottom-width: 6px;margin-top: 0px;margin-bottom: 0px"></div>
        </div>
        <div class="textwidget custom-html-widget">
          <p><strong>«Prometheus»</strong> пропонує співпрацю провідним університетам, компаніям та організаціям.</p>
          <p>Ми готові безкоштовно надати наш сайт як платформу для розміщення масових відкритих онлайн-курсів під вашим брендом.</p>
          <p>Дізнайтеся більше <a href="https://prometheus.org.ua/cooperation/" target="_blank">на цій сторінці.</a></p>
        </div>
      </div>
      <div class="footer-column" style="min-height: 522px;">
        <div class="textwidget custom-html-widget">
          <h3>ПРИЄДНУЙТЕСЬ ДО НАС!</h3>
        </div>
        <div class="footer-separator-holder clearfix  footer-separator-left footer-separator-normal">
          <div class="footer-separator" style="border-color: #1db4b8;border-style: solid;width: 50%;border-bottom-width: 6px;margin-top: 0px;margin-bottom: 0px"></div>
        </div>
        <div class="textwidget custom-html-widget">
          <p class="social">
            <a href="https://prometheus.org.ua/blog/feed/"><img src="${static.url('images/rss.png')}"></a>
            <a href="https://t.me/prometheusmooc"><img src="${static.url('images/tg.png')}"></a>
            <a href="https://twitter.com/prometheusmooc"><img src="${static.url('images/tw.png')}"></a>
            <a href="https://www.facebook.com/prometheusmooc"><img src="${static.url('images/fb.png')}"></a>
          </p>
        </div>
        <div class="textwidget custom-html-widget">
          <h3>ЗАВАНТАЖУЙТЕ ДОДАТОК</h3>
        </div>
        <div class="footer-separator-holder clearfix  footer-separator-left footer-separator-normal">
          <div class="footer-separator" style="border-color: #1db4b8;border-style: solid;width: 50%;border-bottom-width: 6px;margin-top: 0px;margin-bottom: 0px"></div>
        </div>
        <div class="textwidget custom-html-widget">
          <p>
            <a href="https://itunes.apple.com/us/app/prometheus-online-courses/id1213523151"><img style="height: 50px;" src="${static.url('images/AppStore.png')}" alt=""></a>
          </p>
          <p>
            <a href="https://play.google.com/store/apps/details?id=org.prometheus.android"><img style="width: 150px;" src="${static.url('images/google-play.png')}" alt=""></a>
          </p>
        </div>

        <div class="powered-by">
          <p>
            <a href="http://openedx.org/">
              ## greyscale logo for dark background
              <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png" alt="Powered by Open edX" width="150" height="50" />
            </a>
          </p>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
    
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="widgets/cookie-consent.html" />
% endif